@media (min-width: 768px) {
  .vetvy .home ._4xKv1jw3 {
    height: auto !important;
  }
}

@media (min-width: 1024px) {
  .vetvy .home ._4876ESXl ._hrx8E0I8 {
    font-size: 1.7rem;
    line-height: 160%;
  }

  .vetvy .home ._4876ESXl ._mw4j9OK5 {
    font-size: 0.8rem;
  }
}
