.vetvy ._4Zt4B161 {
    background-image: url(../image/XzE759nD.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vetvy ._4876ESXl {
    background-color: var(--21qi9aTO);
}